###
Copyright 2017 Joan Bono
###
'scopeName': 'source.mifare-mfd'
'name': 'MifareDump'
'fileTypes': ['mfd']

'patterns': [
    {
        'match': '^:([0-9a-fA-F]{2})([0-9a-fA-F]{4})([0-9a-fA-F]{2})([0-9a-fA-F]*)(.{2})$'
        'captures':
            '1':
                'name': 'constant.numeric.mifare-mfd'
            '2':
                'name': 'storage.type.mifare-mfd'
            '3':
                'name': 'entity.name.function.mifare-mfd'
            '4':
                'name': 'string.quoted.single.mifare-mfd'
            '5':
                'name': 'constant.language.mifare-mfd'
    }
]
